@import url("./reset.css");
@import url("./variables.css");
@import url("./typography.css");
@import url("./layout.css");
@import url("./components.css");

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--surface-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
}

.btn:hover {
  background-color: var(--green-dark);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

a {
  color: var(--surface-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color var(--transition);
  margin: 0 10px 0 10px;
}

a:hover {
  color: var(--secondary-color);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}

.hero h2 {
  color: var(--accent-color);
}

section {
  padding: 1em 0;
}

h1,
h2 {
  color: var(--text-color);
  padding: 0.5em 0;
}

p {
  color: var(--text-light);
  font-weight: 400;
  margin: 1em 0;
  font-size: 1rem;
  line-height: 1.8;
}

ol,
ul {
  list-style: none;
  font-weight: 500;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.75rem;
}

th {
  background-color: var(--primary-color);
  color: var(--surface-color);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: var(--surface-color);
}
